body{
    background-color: rgb(13, 128, 38);
    color: chartreuse;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button{
    background-color: aquamarine;
    color: black;
    font-family: "Bai Jamjuree", sans-serif;
}